html(lang="pt-BR")
  head
    meta(charset="UTF-8")
    block vars
    block head_page
      title gulp_work #{titulo}
      meta(name="author" content="lucasferreiralimax")
      meta(name="viewport" content="width=device-width, initial-scale=1.0")
      <!-- inject:css -->
      <!-- endinject -->
  body
    block content
    <!-- inject:js -->
    <!-- endinject -->
