@import '_variable'

body
  background color_1
  color color_2
  font-size 2em
  font-family Arial
  text-align center
  display flex
  flex-wrap wrap
  flex-direction column
  align-items center
  justify-content center
