html(lang="pt-BR")
  head
    - var name = 'gulp'
    block vars
    meta(charset="UTF-8")
    title #{name}_work #{titulo}
    meta(name="author" content="lucasferreiralimax")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(href="/assets/favicon.png" rel="icon" type="image/png")
    block head_page      
    <!-- inject:css -->
    <!-- endinject -->
  body
    block content
    <!-- inject:js -->
    <!-- endinject -->
