extends ../template/_layout.pug

block vars
  - var titulo = ' - Página Exemplo'
block head_page  
  meta(name="description" content="Web developer Front-end lucasferreiralimax")
  meta(name="keywords" content="HTML,CSS,JavaScript,lucasferreiralimax")
block content
  h1
    a(href="/") Página de Exemplo
      strong  gulp_work
  footer
    a(href="https://github.com/lucasferreiralimax" target="_blank") @lucasferreiralimax
